/*@import url(reset.css);*/
/*@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css);*/
@import url(../sass/materialize.css);
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.gap {
    height: 25px;
}

.page-body {
    margin-top: 65px;
}

form.login button[type=submit] {
    width: 100%;
    padding: 10px;
    height: initial;
}

/*!* TODO: make mobile menu *!*/
