/*@import url(https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css);*/
@import url(materialize_sass/materialize.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* CUSTOM STYLESHEET */

/**
 * Use this file to override Materialize css so you can update
 * core Materialize files in the future
 */


/* BASE ELEMENTS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

main {
    flex: 1 0 auto;
}

p {
    line-height: 2rem;
}

/*i.right {*/
    /*display: none;*/
/*}*/




/* NAVIGATION */

nav {
    line-height: 43px;
}

nav .brand-logo {
    text-decoration: none;
}

nav ul a,
nav .brand-logo {
    color: snow;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 4px 15px 3px;
    cursor: pointer;
    top: 0px;
    position: relative;
    font-weight: 100;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 20px;
    height: 44px;
    line-height: 41px;
}

.button-collapse {

}

.Lheader-item {
    font-weight: 200;
}



/* PAGE CONTAINERS */

.small-gap {
    height: 25px;
}

.large-gap {
    height: 75px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    /*height: auto;*/
    color: rgba(255,255,255,.9);
    width: 100%;
}

.parallax-container .section {
    width: 100%;
}


/* OTHER PAGE ELEMENTS */

.page-body {
    margin-top: 65px;
}

.error, .failure{
    color: crimson;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-top: 20px;
}

.card-avatar .card-content {
    text-align: center;
}

.explode {
    color: #B81E24;
    padding: 7px 12px 6px 12px;
    position: relative;
    right: 6px;
    margin-left: 5px;
}


.btn-delete {
    font-size: .75em;
    padding: 1px 12px 0px 12px;
    color: darkgray;
    margin: 7px;
}


/* FORM ELEMENTS*/

form.login button[type=submit] {
    width: 100%;
    padding: 10px;
    height: initial;
}

input:not([type]), input[type="password"]:not(.browser-default) {
    font-size: 1.1rem;
}


/* FOOTER */

footer.page-footer {
    margin: 0;
}

.footer-copyright {
    background-color: #1d1c1c !important;
}


/* MAPBOX */

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    position: relative;
    top: 20px;
}

/* MEDIA QUERIES */

@media only screen and (max-width : 992px) {
    #index-banner .section {
        top: 10%;
    }
    .side-nav a {
        padding: 0 16px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
    }
    .logout-mobile {
        color: black;
        padding-left: 25px;

    }

    nav .button-collapse i {
        position: relative;
        top: 1px;
        right: 22px;
    }

    table.responsive-table td {
        text-align: center !important;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    nav {
        line-height: 43px;
    }

    nav .button-collapse i {
        position: relative;
        top: 5px;
        right: 13px;
    }
}
