@import url(reset.css);

/* ---------------------
   BASE ELEMENT STYLES
------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    padding-top: 0px;
    margin: 0;
}

main {
    min-height: calc(100vh - 238px);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: .95em;
    margin-bottom: 1.3em;
}

h2,
h3 {
    color: #093a58;
    margin-top: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h6 {
    font-size: 0.75em;
}

a {
    text-decoration: none;
    color: darkred;
}

img {
    max-width: 100%;
}

img.story {
    border: solid 1px lightgrey;
    padding: 5px;
}



/* ---------------------
   BASE LAYOUT STYLES
------------------------*/


/* navigation */

header {
    overflow: hidden;
    background-color: black;
    top: 0px;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    padding-top: 5px;
    filter: invert(100%);
}

.main-nav {
    text-align: center;
    display: block;
}

.menu-item {
    font-family: 'Open Sans' Arial, sans-serif;
    font-weight: 300;
    color: lightgrey;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}

.menu-item:hover {
    color: white;
}



/* layout containers */

.banner {
    box-shadow: inset 0px 0px 500px black;
    display: flex;

}

.banner.one {
    background: url("../images/DSC01444.jpg") no-repeat center;
    justify-content: center;
    align-items: center;
    color: white;
    height: calc(100vh - 163px);
}

.banner.two {
    background: url("../images/DSC01472.jpg") no-repeat center center fixed;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 1em;
}



/* page elements */

.headline {
    text-align: center;
    font-size: 3em;
    margin: 1.5em;
    line-height: 1.3;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, .4);
}

.subheadline {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 300;
    margin: 1.5em;
    line-height: 1.3;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, .4);
}

#rappel {
    font-size: 1.3em;
}

/* Form styles */

.error {
    color: red;
}

label {
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
    display: block;
}

input {
    width: 100%;
    height: 50px;
    font-size: 1.7em;
    padding: 10px;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 1em;
    padding: 10px;
    border-style: inset;
    border-width: 2px;
    border-radius: 4px;
}

button {
    font-size: 1.1em;
    margin: 25px 0 25px 0;
    padding: 10px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
}

.power-button {
    background: none !important;
    border: none !important;
}

/* footer */

footer {
    height: 100px;
    background-color: black;
    color: white;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------------------
   MEDIA QUERIES
------------------------*/

@media (min-width: 769px) {
    .main-header,
    .row {
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }

    header {
        position: fixed;
        opacity: .8;
    }

    body {
        padding-top: 138px;
    }

    .headline {
        padding-top: 56px;
        font-size: 4em;
    }

    .banner.one {
        height: 100vh;
        box-shadow: inset 0px 0px 1000px  rgba(0, 0, 0, 1);
    }


    .main-header,
    .main-nav,
    .row {
        display: flex;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex: 1;
    }


}

@media (min-width: 1025px) {

    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }

    body {
        padding-top: 113px;
    }

    main {
        min-height: calc(100vh - 213px);
    }

    .headline {
        font-size: 8em;
        padding-top: 44px;
    }

    .banner.one {
        height: 100vh;
        box-shadow: inset 0px 0px 3000px  rgba(0, 0, 0, 1);
    }

    .primary {
        flex: 2;
    }

    .secondary {
        flex: 1;
    }

    img.story {
        width: 50%;
        float: right;
        margin-left: 1em;
    }
}