<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<table>
   <tr>
       <td>
           <ol>
               <li>Soulard</li>
               <li>Central West End</li>
               <li>The Hill</li>
               <li>Mckinley Heights</li>
               <li>Downtown</li>
           </ol>

       </td>
       <td><iframe src="https://www.google.com/maps/d/embed?mid=1yaqUoBxbMXs72MRhpFCC3gePtg55Eegc" width="640" height="480"></iframe></td>
   </tr>
</table>
</body>
</html>