<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<main>
<nav th:replace="fragments :: navigation"></nav>
    <div th:replace="fragments :: flash"></div>
    <div class="container">
        <div class="small-gap"></div>
        <div class="gap"></div>
        <h3>Tasks</h3>
        <ul>
            <li>
                <form method="post" th:object="${newTask}" th:action="@{/tasks}" class="inline new-item">
                    <label><input type="text" th:field="*{description}" placeholder="New task" autocomplete="off"/></label>
                </form>
            </li>
            <li th:each="i : ${#numbers.sequence(tasks.size() -1, 0, -1)}">
                <form method="post" th:action="@{/mark}" class="inline todo-item">
                    <input type="hidden" name="id" th:value="${tasks[i].id}"/>
                    <input type="checkbox" th:id="|checked_${tasks[i].id}|" th:checked="${tasks[i].complete}"/>
                    <label th:for="|checked_${tasks[i].id}|" th:text="${tasks[i].description}"></label>
                    <span th:text="'  ' + ${tasks[i].creationDate.getMonth()}
                                       + ' ' + ${tasks[i].creationDate.getDayOfMonth()}
                                       + ', ' + ${tasks[i].creationDate.getYear()}"
                                       style="font-size: 0.7em; color: lightgrey;"></span>
                </form>
            </li>
        </ul>
    </div>
</main>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>