<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<main>
<nav th:replace="fragments :: navigation"></nav>
    <div th:replace="fragments :: flash"></div>
    <div class="container">
        <div class="small-gap"></div>
        <div class="gap"></div>
        <h3>Tasks</h3>
        <ul>
            <li th:each="task : ${tasks}">
                <form method="post" th:action="@{/mark}" class="inline todo-item">
                    <input type="hidden" name="id" th:value="${task.id}"/>
                    <input type="checkbox" th:id="|checked_${task.id}|" th:checked="${task.complete}"/>
                    <label th:for="|checked_${task.id}|" th:text="${task.description}"></label>
                </form>
            </li>
            <li>
                <form method="post" th:object="${newTask}" th:action="@{/tasks}" class="inline new-item">
                    <label><input type="text" th:field="*{description}" placeholder="New task" autocomplete="off"/></label>
                </form>
            </li>
        </ul>
    </div>
</main>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>