<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <main>
        <nav th:replace="fragments :: navigation"></nav>
        <div class="small-gap"></div>
            <div class="container">
                <h3 th:text="${title}">Default Title</h3>
                <a href="/register" class="btn waves-effect waves-light">ADD NEW</a>
                <div class="small-gap"></div>
                <p th:unless="${users} and ${users.size()}">
                    No users found.&nbsp;&nbsp;:(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Add a user now.</a>
                </p>
                <table class="striped bordered responsive-table">
                    <thead>
                        <th>username</th>
                        <th>first name</th>
                        <th>last name</th>
                        <th>role</th>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td><a th:href="'/user/' + ${user.id}"><span th:text="${user.username}"></span></a></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.role.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="large-gap"></div>
    </main>
    <footer th:replace="fragments :: footer"></footer>
    <div th:replace="fragments :: scripts"></div>
</body>
</html>
