<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<section class="Lrow">
    <div class="Lcol">
        <h1 th:text="${title}">Default Title</h1>
        <form method="POST" th:object="${user}">
            <div>
                <label th:for="username">Username: </label>
                <input th:field="${user.username}"/>
                <span th:errors="${user.username}" class="error"></span>
            </div>
            <div>
                <label th:for="email">Email: </label>
                <input th:field="${user.email}"/>
                <span th:errors="${user.email}" class="error"></span>
            </div>
            <div>
                <label th:for="password">Password: </label>
                <input type="password" th:field="${user.password}"/>
                <!--<span th:errors="*{password}" class="error"></span>-->
                <!--<span th:text="${passnullerror}" class="error"></span>-->
            </div>
            <br />
            <br />
            <button type="submit" value="Add User">Add User</button>
        </form>
        <div style="height: 50px;"></div>
    </div>
</section>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>