<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<main>
    <script type="text/javascript" th:src="@{/assets/js/jquery-1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/pwstrength.js}"></script>
<div class="small-gap"></div>
        <section class="container">
            <div class="gap">
            </div>
            <h3 th:text="${title}">Default Title</h3>
            <form method="POST" th:object="${user}">
                <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="">
                    <label th:for="username">Username <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help-block error">Username Error</span>
                    </label>
                    <input type="text" th:field="*{username}"/>
                </div>
                <div class="" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
                    <label th:for="email">Email <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block error">Email Error</span>
                    </label>
                    <input type="text" th:field="*{email}"/>
                </div>
                <div class="" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                    <label th:for="password">Password <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block error">Password Error</span>
                    </label>
                    <input th:type="password" th:field="*{password}"/>
                </div>
                <div class="">
                    <label th:for="verify">Verify Password <span th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}" class="help-block error">Password Confirmation Error</span>
                    </label>
                    <input th:type="password" th:field="*{verifyPassword}"/>
                </div>
                <br />
                <br />
                <button type="submit" value="Add User" class="btn-large waves-effect">Register</button>
            </form>
            <div style="height: 50px;"></div>
        </section>
</main>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>
<script type="text/javascript">
    $(document).ready(function () {
        options = {
            common: {minChar:8},
            ui: {
                showVerdictsInsideProgressBar:true,
                showErrors:true,
                errorMessages:{
                    wordLength: 'Your password is too short',
                }
            }
        };
        $('#password').pwstrength(options);
    });
</script>
</body>
</html>