<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <title>b-plate</title>
</head>
<body>

<nav th:fragment="navigation" class="dark-grey" role="navigation">
    <div class="nav-wrapper container">
        <div style="display: inline">
            <a id="logo-container" href="/" class="brand-logo">b-plate</a>
        </div>

        <!-- DESKTOP NAV -->
        <div class="right hide-on-med-and-down" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <ul th:case="${false}">
                <!--<li><a href="#" class="thin">link</a></li>-->
                <li>
                    <form class="logout inline" th:action="@{/logout}" method="post">
                        <button type="submit" style="background: none; border: none;">
                            <i class="material-icons">power_settings_new</i>
                        </button>
                    </form>
                </li>
            </ul>
            <ul th:case="true">
                <!-- TODO: make this visible to admin and publisher from front end only-->
                <!--<li><a href="#">edit this page</a></li>-->
                <li><a th:href="@{/todo}">tasks</a></li>
                <li><a th:href="@{/pages}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PUBLISHER')">pages</a></li>
                <li><a href="#" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PUBLISHER')">images</a></li>
                <li><a th:href="@{users}" sec:authorize="hasRole('ROLE_ADMIN')">users</a></li>
                <li>
                    <a sec:authentication="name" class="Lheader-item"></a>
                </li>
                <li>
                    <form class="logout inline" th:action="@{/logout}" method="post">
                        <button type="submit" style="background: none; border: none;">
                            <i class="material-icons">power_settings_new</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        <!-- MOBILE NAV -->
        <div id="nav-mobile" class="side-nav" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <ul th:case="${false}">
                <!--<li><a href="/todo">Tasks</a></li>-->
                <li><a href="/login">Login</a></li>
            </ul>
            <ul th:case="${true}">
                <li><a  sec:authentication="name" class="Lheader-item"></a></li>
                <li><a th:href="@{/todo}">tasks</a></li>
                <li><a th:href="@{/pages}" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PUBLISHER')">pages</a></li>
                <li><a href="#" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PUBLISHER')">images</a></li>
                <li><a th:href="@{users}" sec:authorize="hasRole('ROLE_ADMIN')">users</a></li>
                <!-- TODO: make this visible to admin and publisher from front end only -->
                <!--<li><a href="#">edit this page</a></li>-->
                <li>
                    <form class="logout inline logout-mobile" th:action="@{/logout}" method="post">
                        <button type="submit" style="background: none; border: none;">
                            <span>logout</span>
                        </button>
                    </form>
                </li>

            </ul>
        </div>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<main th:fragment="page-body" style="flex: 1 0 auto;">
    <div>
        <p th:unless="${page}">
            Page not found.&nbsp;&nbsp;:(
        </p>
        <div th:utext="${page.body}"></div>
    </div>
</main>

<footer th:fragment="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><i class="fa fa-github-alt" aria-hidden="true"></i><span style="font-size: .7em; position: relative; top: -3px;">&nbsp;&nbsp;<a href="https://www.github.com/landongw/b-plate" style="color: snow;">github.com/landongw/b-plate</a></span></h5>
                <p class="grey-text text-lighten-4">The full-stack Java boilerplate you've been looking for.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Landon Wiedenman
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div class="message">
        <i class="right material-icons" data-close="">close</i>
        <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
        <!-- TODO: make success message from reset form show here -->
        <!--<div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.successMessage}" class="flash"></div>-->
    </div>
</div>

<div th:fragment="scripts">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>-->
    <script type="text/javascript" th:src="@{/assets/js/init.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/materialize.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
    <script src="https://use.fontawesome.com/63da30cce9.js"></script>
</div>
</body>
</html>
