<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">T's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:fragment="navigation">
        <a href="/home"><img src="images/logo.png" /></a>
        <a href="/menu">Menu</a>
        <a href="/order">Order</a>
        <a href="/about">About</a>
        <a href="/sign-in">Sign-In</a>
    </nav>
</body>
</html>

